header {
    text-align: center;
    background-color:chocolate;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
   text-align: center; 
}

footer {
    text-align: center; 
}