/* @media (max-wdith: 600px) {
    h2 {
       width: 10vw; 
    }
}


h2 {
    justify-content: center;
} */

header {
    text-align: center;
    color:chocolate;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    all: unset;
    background-color: rgb(215, 187, 161);
    color: rgb(0, 0, 0);
    border: 4px solid rgb(215, 187, 161);
    /* border-color: rgb(0, 0, 0); */
    padding: 2px; 
    border-radius: 5px;
    font-size: 16px;  
    font-family: Arial, sans-serif; 
    cursor: pointer; 
    display: inline-block;  
    text-align: center;  
    box-sizing: border-box;  
    /* transition: background-color 0.3s ease, color 0.3s ease;  Smooth hover transition */
}


button:hover {
    background-color: bisque;
}

select {
    background-color: rgb(215, 187, 161);
    border: 2px solid rgb(215, 187, 161);
    border-radius: 5px;
}


body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

main {
    text-align: center; 
    background-color: bisque;
    border: 15px solid rgb(215, 187, 161);
    padding: 50px;
    margin: 20px;
    border-radius: 1em;
    display: flex; /* Use flex to align children */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center the children vertically */
    /* align-items: center; */
}

footer {
    text-align: center; 
    background-color: bisque;
}