
header {
    text-align: center;
    color:chocolate;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    min-height: 100vh;
}

main {
    text-align: center; 
    background-color: bisque;
    width: 300px;
    border: 15px solid rgb(215, 187, 161);
    padding: 50px;
    margin: 20px;
    border-radius: 1em;
    display: flex; /* Use flex to align children */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center the children vertically */
    /* align-items: center; */
}

footer {
    text-align: center; 
    background-color: bisque;
}